<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>A one day course aimed at:</h3>
                ENT Trainees / Consultants<br>
                Radiology<br>
                Neurosurgeons / Neurologists<br>
                Maxillofacial<br>
                Plastics / Head and Neck surgeons<br>  
                <hr class="light">
                <p class="text-faded">To facilitate a better understanding of head and neck radiology and interpretation of imaging in head and neck emergencies</p>
                <a href="#application" class="btn btn-default btn-xl">Apply</a>
            </div>
        </div>
    </div>
</section>
