<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h3>A two-day course aimed at:</h3>
                ENT Trainees / Consultants<br>
                Radiology Trainees / Consultants<br>
                Neurosurgeons / Neurologists<br>
                OMFS Trainees and Consultants<br>  
                <hr class="light">
                <p class="text-faded">Learn to interpret imaging of the head, neck and skull base. Each topic covered from surgical and radiological perspective. Improve your imaging interpretation and surgical planning</p>
                <a href="#application" class="btn btn-default btn-xl">Apply</a>
            </div>
        </div>
    </div>
</section>
