<aside class="bg-dark" id="application">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Apply</h2>
            <p>The course cost is £100 per delegate</p>
            <p>Lunch and refreshments are provided</p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="SNDA5FHFEZ7BL">
                <input type="hidden" name="lc" value="GB">
                <input type="hidden" name="button_subtype" value="services">
                <input type="hidden" name="no_note" value="1">
                <input type="hidden" name="no_shipping" value="1">
                <input type="hidden" name="rm" value="1">
                <input type="hidden" name="return" value="https://aberdeenradiologycourse.com/success">
                <input type="hidden" name="cancel_return" value="https://aberdeenradiologycourse.com/cancel">
                <input type="hidden" name="currency_code" value="GBP">
                <input type="hidden" name="bn" value="PP-BuyNowBF:btn_paynow_SM.gif:NonHosted">
                <table>
                <tr><td><input type="hidden" name="on0" value="Grade">Grade</td></tr><tr><td><select name="os0">
                    <option value="F1">F1 </option>
                    <option value="F2">F2 </option>
                    <option value="CT/ST1-2">CT/ST1-2 </option>
                    <option value="ST3-8">ST3-8 </option>
                    <option value="Staff grade">Staff grade </option>
                    <option value="Consultant">Consultant </option>
                    <option value="Associate Specialist">Associate Specialist </option>
                    <option value="Nurse">Nurse </option>
                    <option value="Medical Student">Medical Student </option>
                </select> </td></tr>
                <tr><td><input type="hidden" name="on1" value="Dietary Requirements">Dietary Requirements</td></tr><tr><td><input type="text" name="os1" maxlength="200"></td></tr>
                </table>
                <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
            </form>
        </div>
    </div>
</aside>
