<aside class="bg-dark" id="application">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>Apply</h2>
            <p>The course cost is £175 per delegate</p>
            <p>Lunch, refreshments and course dinner are provided</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPVWBGQeVXCkUzsHmgyGAR9c0QQu9alo8lSA8l1-2Ce4Jv1g/viewform?usp=pp_url" class="btn btn-default btn-xl wow tada" style="visibility: visible; animation-name: tada;">Fill in application</a>
        </div>
    </div>
</aside>
