<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">18<sup>th</sup>June 2018</h2>
                <p>A one day course aimed at:<br>
                ENT Trainess / Consultants<br>
                Radiology<br>
                Neurosurgeons / Neurologists<br>
                Maxillofacial<br>
                Plastics / Head and Neck surgeons<br>  
                </p>
                <hr class="light">
                <p class="text-faded">To facilitate a better understanding of of head and neck radiology and interpretation of imaging in head and neck emergencies</p>
                <a href="#" class="btn btn-default btn-xl">Apply</a>
            </div>
        </div>
    </div>
</section>
