<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>1<sup>st</sup> Aberdeen Head, Neck and Skull Base Radiology Course</h2>
            <hr>
            <h3>18<sup>th</sup> June 2019</h3>
            <p>A one day course aimed at</p>
            <ul>
                <li>ENT Trainess / Consultants</li>
                <li>Radiology</li>
                <li>Neurosurgeons / Neurologists</li>
                <li>Maxillofacial</li>
                <li>Plastics / Head and Neck surgeons</li>  
            </ul>
            <p>To facilitate a better understanding of of head and neck radiology and interpretation of imaging in head and neck emergencies</p>
            <a href="#programme" class="btn btn-primary btn-xl page-scroll">Programme</a>
        </div>
    </div>
</header>
