<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>1<sup>st</sup> Aberdeen Head, Neck and Skull Base Radiology Course</h2>
            <h3>18<sup>th</sup> June 2019</h3>
            <hr>
            <p>A one day course aimed at:<br><br>
                ENT Trainees / Consultants<br>
                Radiology<br>
                Neurosurgeons/ Neurologists<br>
                Maxillofacial<br>
                Plastics / Head and Neck surgeons
            </p>
            <p class = "text-faded">to facilitate a better understanding of head and neck radiology and interpretation of imaging in head and neck emergencies</p>
            <a href="#programme" class="btn btn-primary btn-xl page-scroll">Programme</a>
        </div>
    </div>
</header>
