<meta property="og:type" content="website">
<meta property="og:title" content="{{site.title}}">
<meta property="og:url" content="https://aberdeenradiologycourse.com">
<meta property="og:image" content="https://aberdeenradiologycourse.com/img/header.jpg">
<meta property="og:description" content="18th June 2019 : One day course on head and neck radiology and interpretation of imaging in head and neck emergencies">
<meta property="business:contact_data:street_address" content="Aberdeen Maternity Hospital, Cornhill Rd">
<meta property="business:contact_data:locality" content="Aberdeen">
<meta property="business:contact_data:region" content="Scotland">
<meta property="business:contact_data:postal_code" content="AB25 2ZL">
<meta property="business:contact_data:country_name" content="Scotland">
