<meta property="og:type" content="business.business">
<meta property="og:title" content="Roquette Science">
<meta property="og:url" content="https://roquette.science">
<meta property="og:image" content="https://roquette.science/img/header.jpg">
<meta property="business:contact_data:street_address" content="London">
<meta property="business:contact_data:locality" content="London">
<meta property="business:contact_data:region" content="London">
<meta property="business:contact_data:postal_code" content="London">
<meta property="business:contact_data:country_name" content="UK">
