<section id="programme">
    <div class="container">
        <div class="row">
            <table class = "table">
                <tr><td>0900-0930</td><td>IMAGING MODALITIES AVAILABLE / INDICATIONS IN HEAD NECK</td></tr>
                <tr><td>0930-1000</td><td>ORAL CAVITY /OROPHARYNX   </td></tr>
                <tr><td>1000-1030</td><td>NASOPHARYNX/SKULL BASE</td></tr>
                <tr><td><b>BREAK</b></td></tr>
                <tr><td>1100-1130</td><td>LARYNX</td></tr>
                <tr><td>1130-1200</td><td>TEMPORAL BONES</td></tr>
                <tr><td>1200-1230</td><td>PARANASAL SINUSES</td></tr>
                <tr><td>1230-1300</td><td>ANTERIOR SKULL BASE</td></tr>
                <tr><td><b>LUNCH</b></td><td>CASE DISCUSSION. 1-2</td></tr>
                <tr><td>1400-1430</td><td>TEMPORAL BONE EMERGENCIES (MENINGITIS, TEMPORAL BONE FRACTURE, MOE)</td></tr>
                <tr><td>1430-1500</td><td>PAEDIATRIC HEAD NECK LESIONS (CHOANAL ATRESIA, NASAL TUMORS,NECK CYSTS, BRANCHIAL SINUS, NECK MASSES,AIRWAY PATHOLOGY)</td></tr>
                <tr><td>1500-1530</td><td>HEAD NECK EMERGENCIES (PENETRATING NECK TRAUMA, AIRWAY , NECK SPACE INFECTIONS)</td></tr>
                <tr><td>1530-1700</td><td>INTERACTIVE SESSION</td></tr>
                <tr><td><b>CLOSE / CERTIFICATES</b></td></tr>
            </table>
        </div>
    </div>
</section>
