<aside id="programme">
    <div class="container">
        <div class="row">
            <h2 class="section-heading">Programme</h2>
            <h3>Day One</h3>
            <table class = "table">
                <tr><td colspan = "2"><b>Skull base</b></td></tr>
                <tr><td>0900-0930</td><td>Update on current imaging modalities in the head and neck</td></tr>
                <tr><td>0930-1015</td><td>Imaging of the skull base: Anatomy and pathology</td></tr>
                <tr><td>1015-1045</td><td>Role of 3D reconstruction in lateral skull base surgery<br>Approaches to the anterior and lateral skull base</td></tr>
                <tr><td colspan = "2"><b>BREAK</b></td></tr>
                <tr><td colspan = "2"><b>Oral Cavity, Oropharynx and Nasopharynx</b></td></tr>
                <tr><td>1130-1200</td><td>Imaging of the Nasopharynx, Oral cavity and Oropharynx: Anatomy and Pathology </td></tr>
                <tr><td>1200-1230</td><td>Radiological mapping, 3D reconstriction and surgical approaches to the Oral cavity</td></tr>
                <tr><td>1230-1300</td><td>Radiological mapping in transoral robotic surgery</td></tr>
                <tr><td><b>LUNCH</b></td><td>Case discussion</td></tr>
                <tr><td colspan = "2"><b>Larynx and Pharynx</b></td></tr>
                <tr><td>1400-1430</td><td>Imaging of the Larynx and Pharynx: Anatomy and Pathology</td></tr>
                <tr><td>1430-1500</td><td>Radiological mapping and surgical approaches to Laryngeal and Pharyngeal tumours</td></tr>
                <tr><td>1500-1530</td><td>The role of PET in the Head and neck</td></tr>
                <tr><td colspan = "2"><b>BREAK</b></td></tr>
                <tr><td colspan = "2"><b>Thyroid</b></td></tr>
                <tr><td>1600-1630</td><td>Imaging for Thyroid disorders: Anatomy and Pathology</td></tr>
                <tr><td>1630-1700</td><td>Radiological Mapping and resection of Thyroid tumours</td></tr>
                <tr><td colspan = "2"><b>COURSE DINNER</b></td></tr>
            </table>
            <h3>Day Two</h3>
            <table class = "table">
                <tr><td colspan = "2"><b>Head and Neck infections and Trauma</b></td></tr>
                <tr><td>0900-0930</td><td>The role of imaging in Head and Neck Infections</td></tr>
                <tr><td>0930-1000</td><td>Management of deep neck space infections</td></tr>
                <tr><td>1000-1030</td><td>Role of imaging in Neck trauma</td></tr>
                <tr><td colspan = "2"><b>BREAK</b></td></tr>
                <tr><td>1100-1130</td><td>Management of Neck trauma</td></tr>
                <tr><td colspan = "2"><b>Paediatrics</b></td></tr>
                <tr><td>1130-1200</td><td>Imaging of the Head, Neck, Sinuses and Vascular malformations in children</td></tr>
                <tr><td>1200-1230</td><td>Imaging of congenital ear malformations</td></tr>
                <tr><td>1230-1300</td><td>Management of Orbital Cellulitis</td></tr>
                <tr><td><b>LUNCH</b></td><td>Case discussion</td></tr>
                <tr><td colspan = "2"><b>Temporal bone</b></td></tr>
                <tr><td>1400-1430</td><td>Imaging of the Temporal bone: Anatomy and Pathology</td></tr>
                <tr><td>1430-1500</td><td>Management of temporal bone fractures including surgical approaches</td></tr>
                <tr><td colspan = "2"><b>Paranasal sinuses</b></td></tr>
                <tr><td>1500-1530</td><td>Imaging of the nose and paranasal sinuses: Anatomy and Pathology</td></tr>
                <tr><td colspan = "2"><b>BREAK</b></td></tr>
                <tr><td>1600-1630</td><td>Radiological mapping ans surgical approaches to the sinuses<br>(FESS, DRAF, Transmaxillary and Transpterygoid approaches)</td></tr>
                 <tr><td colspan = "2"><b>Feedback and Certificates</b></td></tr>
            </table>
        </div>
    </div>
</aside>
