<section id="programme">
    <div class="container">
        <div class="row">
            <h2 class="section-heading">We've got what you need!</h2>
            <table class = "table">
                <tr><td>0900-0930</td><td>Imaging Modalities Available<br>Indication in Head & Neck</td></tr>
                <tr><td>0930-1000</td><td>Oral cavity / Oropharynx</td></tr>
                <tr><td>1000-1030</td><td>Nasopharynx / skull base</td></tr>
                <tr><td colspan = "2"><b>BREAK</b></td></tr>
                <tr><td>1100-1130</td><td>Larynz</td></tr>
                <tr><td>1130-1200</td><td>Temporal bones</td></tr>
                <tr><td>1200-1230</td><td>Paranasal sinuses</td></tr>
                <tr><td>1230-1300</td><td>Anterios skull base</td></tr>
                <tr><td><b>LUNCH</b></td><td>Case discussion 1-2</td></tr>
                <tr><td>1400-1430</td><td>Temportal bone emergencies<br>(Meningitis, temportal bone fracture, MOE)</td></tr>
                <tr><td>1430-1500</td><td>Paediatric head & neck lesions<br>(Choanal atresia, nasal tumors, neck cysts, branchial sinus, neck masses, airway pathology)</td></tr>
                <tr><td>1500-1530</td><td>Head & neck emergencies<br>(penetrating neck trauma, airway, neck space infections)</td></tr>
                <tr><td>1530-1700</td><td>Interactive session</td></tr>
                <tr><td colspan = "2"><b>Close / certificates</b></td></tr>
            </table>
        </div>
    </div>
</section>
