<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rocket wow bounceIn text-primary"></i>
                    <h3>Roquette</h3>
                    <p class="text-muted">It's delicious</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-tint wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Hydroponics</h3>
                    <p class="text-muted">Nutrients - where you need them</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-gears wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Efficient</h3>
                    <p class="text-muted">Waste not, want not</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Ingenious</h3>
                    <p class="text-muted">We clever</p>
                </div>
            </div>
        </div>
    </div>
</section>
